.upcoming{
    padding-top: 80px;
    padding-right: 50px;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.upgomint_content{
    width: 100%;
    padding-left: 100px;
    color: var(--gray);
}

.pdfVc{
    padding-top: 50px;
    padding-left: 125px;
    width: 100% !important;
}

.rpv-core__inner-page{
    /* left: 50% !important;
    transform: translateX(-50%) !important; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.rpv-core__text-layer{
    display: none !important;
}

.conference2gsoTitle{
    text-align: center;
    padding-left: 250px;
    color:var(--title-color);
    padding-top: 50px;
}

@media (max-width:800px) {
    .upcoming{
        padding-top: 120px;
        padding-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: calc(100vh - 150px);
    }

    .upgomint_content{
        width: 100%;
        padding-left: 0px;
        color: var(--gray);

        display: flex;
        flex-direction: column;
        gap: 10px;

        padding-left: 50px;
    }

    .pdfVc{
        padding-top: 50px;
        padding-left: 0px;
        width: 100% !important;
    }

    .conference2gsoTitle{
        text-align: center;
        padding-left: 0;
        color:var(--title-color);
        padding-top: 120px;
    }
}