.gso_about{
    box-sizing: border-box;
    width: 100%;
    min-height: calc(100vh - 100px);
    padding-left: 250px;
    padding-top: 60px;
}
    

.gso-about-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gso_about_title{
    color: var(--title-color);
    font-size: 28px;
    text-align: center;
    margin-top: 50px;
}

.gs0_about_desc{
    padding: 0 100px 0 100px;
    margin-top: 10px;
    color: var(--gray);
    line-height: 24px;
}

.links_in_about{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    padding: 0 40px;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width:800px) {
    .gso_about{
        padding-left: 0px;
        padding-top: 100px;
    }

    .gs0_about_desc{
        padding: 0 20px 0 20px;
    }

    .links_in_about{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}