.patient{
    width: 100%;
    min-height: calc(100vh - 100px);
    padding-left: 250px;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 80px;
}

.patient_title{
    color: var(--title-color);
    font-size: 28px;
    text-align: center;
}

.patient_doc_list{
    margin-top: 50px;
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 100px;
}

.topic_intro{
    color: var(--gray);
    padding: 0 100px;
    margin-top: 50px;
}

.linkTo_topic{
    color: var(--shidni);
    font-weight: 600;
    font-size: 18px;
}

@media (max-width:1399px) {
    .patient_doc_list{
        margin-top: 50px;
        padding: 0 130px;
    }
}

@media (max-width:800px) {
    .patient{
        width: 100%;
        min-height: calc(100vh - 150px);
        padding-left: 0px;
        box-sizing: border-box;
        overflow-x: hidden;
        padding-top: 120px;
    }


.patient_doc_list{
    margin-top: 50px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
}
