.btn_component{
    padding: 15px 20px 15px 20px;
    border: 1px solid var(--shidni);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    border-radius: 10px;
}

.btn_component:hover{
    background-color: var(--shidni);
    transition: all .3s ease;
    color: #fff;
}

@media (max-width:800px) {
    .btn_component{
        padding: 15px 15px 15px 15px;
        font-size: 14px;
    }
}